
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Young';
  src: url("/assets/fonts/young.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AlanSans';
  src: url("/assets/fonts/AlanSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-SemiBold.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
body{
  font-family: young;
  display: flex;
align-items: center;
flex-direction: column;
background: #464BFF08;
}

.no-scroll {
  overflow: hidden;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 2px 20px #464BFF14, 0 1px 15px #464BFF14;
  background: #fff;
  z-index: 10;
}
header img {
  width: 60px;
height: auto;
transition: .3s;
}
.home-link {
  cursor: help;
}
.header-btns-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3em;
  gap: .15em;
  border-radius: .5em;
  transition: .2s;
  outline: none;
}
.quick-header-btn-design-one {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  transition: .2s;
}
.quick-header-btn-design-one svg {
  fill: #4F5163;
  width: 45px;
  height: auto;
}
.search-input-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: .5em;
  height: 70px;
  transform: translateY(-100%);
  background: #fff;
  z-index: 72;
  transition: .25s;
}
.search-input-wrap.active {
  transform: translateY(0);
}
.close-search-wrap {
  width: 40px;
  height: 40px;
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  border: none;
  transition: .12s;
}
.close-search-wrap:hover {
  background: #9597AD1A;
}
.close-search-wrap svg {
  fill: #4F5163;
  width: 23px;
  height: 23px;
}

.search-wrapper {
  position: relative;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchInputIcon {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #6C6D6F;
  border: none;
  outline: none;
  transition: .4s;
}
.searchBtn-2:active {
  transform: scale(.9);
}
/******************* search **********************/
.search-results-div .search-results-a {
  border-radius: .3em;
  margin: .4em;
  cursor: none;
  font-size: .85em;
  transition: .2s;
  position: relative;
  display: block;
padding: 10px;
text-decoration: none;
color: #333;
border: none;
}

.search-results-div .search-results-a:hover {
  background: #4F51630F;
}

.search-results-div p {
  font-size: .85em;
  text-align: center;
}
.search-results-div .search-results-a span{
  margin-left: .4em;
  text-transform: lowercase;
  color: #42445A94;
}
.search-results-a{
  display: flex;
}
/*******************************/
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 1001;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
overflow-y: auto;
font-family: 'Young';
}
.side-nav.active {
  transform: translateX(0);
}

.close-nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: .07s;
  background: transparent;
  margin-bottom: 1em;
}
.close-nav-btn:hover{
  background: #9597AD26;
}
.close-nav-btn svg {
  fill: #4F5163;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
#right-chev-svg{
  position: absolute;
  right: 0;
  fill: #4F516370;
}
.side-nav h2{
  font-size: 1.2em;
  font-family: young;
  color: #31323E;
}
.side-nav a {
  margin: .5rem 0;
  display: flex;
align-items: center;
gap: 1.1rem;
padding: .5em;
font-weight: 400;
font-size: .9em;
color: #4F5163;
text-decoration: none;
cursor: none;
transition: .3s;
border-bottom: 1px solid #4F516330;
width: 90%;
position: relative;
}
.side-nav a svg{
  width: 20px;
height: auto;
padding: .4em;
border-radius: 50%;
fill: #55606c;
display: block;
}
.favourites #favorites-svg{
  fill: #464BFF;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}
.overlay.visible {
  opacity: 1;
  pointer-events: all;
}
.sec-one{
  padding-top: 7em;
  width: 95%;
  position: relative;
}
.hero-sec{
  max-width: 400px;
}
.hero-text-wrap{
  font-weight: 900;
  font-size: 2em;
}
.description-header-info-calculator-numb{
  font-size: 1em;
color: #42445AD4;
margin-top: 1.5em;
}

.category-info-p{
  line-height: 1.75;
font-size: 1em;
color: #42445ACC;
margin-top: 1.5em;
margin-bottom: 1.5em;
font-family: "Young";
}
  .category-info { max-width: 800px; }
  .category-info-p { margin: 0; line-height: 1.5; }

  .clamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;
    position: relative;
    padding-bottom: .3em;
  }
  .clamped::after {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.6em;
    background: linear-gradient(transparent, white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .category-info-p.expanded {
    -webkit-line-clamp: unset;
    display: block;
  }
  .category-info-p.expanded::after { display: none; }

  .read-more-btn {
    font-family: young;
    margin-top: 8px;
    background: none;
    border: none;
    font-size: 0.95rem;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 4px;
    color: #2F33C2;
    user-select: none;
    text-decoration: underline;
  }
 .read-more-btn:hover{
   color: #282B93;
}
.read-more-btn:hover .chev{
  color: #2F33C2;
}

  .chev {
    width: 14px;
    height: 9px;

    color: #3539EA;
    transform-origin: 50% 50%;
    transition: transform 320ms cubic-bezier(.2,.9,.2,1);
    will-change: transform;
    display: inline-block;
    vertical-align: middle;
  }

  .read-more-btn[aria-expanded="true"] .chev {
    transform: rotate(180deg);
  }

  .read-more-btn.hidden { display: none; }

.hero-sec-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em 1em;
}
#hero-h1 {
  display: flex;
  align-items: baseline;
  gap: 0.3em;
  font-size: 1.5em;
  font-weight: 800;
  color: #1f1f1f;
  margin: 0;
  font-family: lexend;
}

.icon-wrapper {
  display: inline-flex;
  align-items: baseline;
  padding: 0.15em;
  background: #464BFF;
  border-radius: 8px;
}
.icon-wrapper svg{
fill: #fff;
}
#share-category-btn{
  position: absolute;
  right: 0;
  background: #fff;
  transition: .3s;
  border-radius: 8px;
  padding: 10px;
  border: none;
  outline: none;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#share-category-btn:active{
  border-radius: 15px;
}
#share-category-btn svg{
  fill: #55606c;
}
#search-global-input{
  background: #335FCB0D;
  border: 1.5px solid #4F516324;
  padding: .5em;
  height: 2em;
  width: 90%;
  border-radius: 6px;
  outline: none;
  transition: .3s;
}
#search-global-input:focus {
  border: 1.5px solid #464BFF;
}
.calculators-lists{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2em;
}
.calculators-lists h2{
  font-size: 1.4em;
  font-family: lexend;
  font-weight: 400;
}
.calculators-lists ul{
color: #515353;
  font-size: 1em;
  line-height: 1.72;
  display: flex;
  flex-direction: column;
  gap: .8em;
  margin: 0;
  padding: 24px;
  margin-top: -2em;
}
.calculators-lists ul li::marker {
  font-size: 1.4em;
  color: #515353D4;
}
.calculators-lists a{
cursor: none;
transition: .2s;
color: #42445ADB;
border: none;
font-family: Alansans;
}
.calculators-lists a:hover{
  color: #000000;
}
/******* share global *******/
.no-scroll {
  overflow: hidden;
}
.share-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 1000;
}

.share-modal-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.global-share-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  background-color: #fff;
  width: 550px;
  max-width: 90%;
  padding: 20px;
  border-radius: 12px;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.15s ease, opacity 0.15s ease;
  user-select: none;
}
.share-header{
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
margin-top: 1em;
}
.global-share-popup h2{
  font-family: lexend;
font-weight: 800;
}
.global-share-popup span{
  color: #505163;
 font-family: young;
 font-weight: 500;
}
.global-share-popup.visible {
  transform: scale(1);
  opacity: 1;
}

.close-share-modal{
 position: absolute;
 right: 1em;
 height: 40px;
width: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
border: none;
transition: .15s;
background: transparent;
flex-shrink: 0;
margin-bottom: .6rem;
background: transparent;
}
.close-share-modal:hover{
  background: #9597AD24;
}
.close-share-modal svg{
fill: #3E3F4D;
 height: 28px;
 width: 28px;
}

.share-to-social-icon-url{
  display: flex;
  align-items: center;
justify-content: center;
gap: .9em;
margin-top: .5em;
}
.share-to-social-icon-url a{
  cursor: help;
  display: flex;
align-items: center;
justify-content: center;
background: #464BFF;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
border-radius: 15px;
height: 2.8em;
width: 2.8em;
transition: .3s;
}
.share-to-social-icon-url a:active{
  transform: translateY(-.2em);
}
.share-to-social-icon-url svg{
  height: 1.4em;
  width: 1.4em;
  fill: #fff;
}
.global-share-copy-link-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: .5em;
 padding: .2em;
  border-radius: .4em;
}
.copy-share-url{
  background: #464BFF;
  color: #fff;
  border: none;
  padding: .7em;
  border-radius: .4em;
  transition: .2s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-weight: 500;
  font-size: 1em;
  font-family: young;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 100%;
}
.copy-share-url svg{
  fill: #fff;
  height: 1.5em;
  width: 1.5em;
}
.copy-share-url:active{
  transform: scale(.98);
}
/*****************************/
/************ cookies *************/
.cookie-wrapper {
  user-select: none;
  position: fixed;
  bottom: 0;
  transform: translateY(120%);
  right: 0;
  left: 0;
  max-width: 345px;
  background: #fff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  
  border: 1px solid #42445A21;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5em;
  transition: .5s;
}
.cookie-wrapper.show {
  transform: translateY(0);
}
.cookie-wrapper img{
  height: auto;
  width: 5em;
}
.cookie-wrapper h2 {
  color: #5B5B5C;
  font-weight: 600;
  font-size: .9em;
  margin-bottom: -1.5em;
  font-family: lexend;
}
.cookie-data {
  margin-top: 16px;
}
.cookie-data p {
  color: #6C6D6FBD;
font-size: .84em;
line-height: 1.6;
font-family: Young;
}
.cookie-data p a {
  color: #6C6D6F;
  cursor: help;
  text-decoration: none;
}
#accept-cookieBtn {
  border: none;
  color: #fff;
  padding: 14px 0;
  border-radius: 10px;
  background: #464BFF;
  width: 100%;
  transition: 0.2s;
  margin-top: 1em;
  font-family: young;
}
#accept-cookieBtn:hover {
  background-color: #4044D7;
}
#decline-cookieBtn{
  border: none;
color: #484A58;
padding: 14px 0;
border-radius: 10px;
background: #484A5817;
width: 100%;
transition: 0.2s;
font-family: young;
}
#decline-cookieBtn:hover{
  background: #484A582E;
}
  /********* Adsterra ***********/
.adsterra-anchor-fixed {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding-top: 4em;
text-align: center;
background: #fff;
padding-bottom: 5px;
z-index: 999;
opacity: 0;
pointer-events: none;
}
.adsterra-anchor-fixed iframe {
margin: auto;
display: block;
border-radius: 13px;
padding: 4px;
background: #fff;
}
.adsterra-anchor {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
text-align: center;
background: #fff;
box-shadow: 0 2px 20px #464BFF14, 0 1px 15px #464BFF14;
border-top-right-radius: 12px;
border-top-left-radius: 12px;
}
.adsterra-anchor iframe {
margin: auto;
display: block;
border-radius: 13px;
padding: 8px;
}
/********* Adsterra ***********/
.adsterra-anchor-fixed iframe {
  margin: auto;
  display: block;
  border-radius: 13px;
  padding: 8px;
}
/****************************/
/****************************/
footer{
  width: 100%;
  padding: .5em;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1em;
margin-top: 3em;
font-family: "Nunito";
background: #fff;
margin-bottom: -10px;
box-shadow: rgba(0, 0, 0, 0.06) 0 18px 10px;
}
footer .quick-links{
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.calculator-categories-footer{
  display: grid; grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: .5em;
  font-family: "young";
}
.calculator-categories-footer a{
transition: .14s;
display: flex;
align-items: center;
justify-content: flex-start;
font-size: .9em;
cursor: help;
gap: 18px; 
text-decoration: none;
color: #4A4B5D;
padding: 8px 12px;
letter-spacing: .4px;
}
.calculator-categories-footer a:hover{
  color: #3135CD;
}
.calculator-categories-footer a svg{
  flex-shrink: 0;
width: 17px;
height: 17px;
fill: #3135CD;
}
.quick-links-social{
  display: flex;
align-items: center;
justify-content: center;
  flex-direction: row;
  gap: 1.4em;
  border-bottom: 1px solid #ADB0C740;
  width: 100%;
  padding: 8px;
 padding-bottom: 25px;
}
.quick-links-social a{
cursor: help;
color: #4E5065FA;
transition: .2s;
font-weight: 600;
border-radius: 12px;
background: #4E5065FA;
display: flex;
align-items: center;
justify-content: center;
}
.quick-links-social a:active {
  transform: translateY(-4px);
}
.quick-links-social a svg{
  height: 14px;
  width: 14px;
  fill: #fff;
  padding: 7px;
}

footer .quick-links a{
  text-decoration: none;
  cursor: help;
  color: #6B6E8FDB;
  font-size: .9em;
  transition: .3s;
}
footer .quick-links a:hover{
  color: #434559;
}
footer h3{
  font-family: lexend;
  font-size: 1em;
  margin-bottom: -10px;
}
footer span{
  display: flex;
align-items: center;
justify-content: center;
font-size: .95em;
color: #6B6E8FDB;
gap: .3em;
padding: 10px;
margin-top: -10px;
}
footer span svg{
  fill: red;
  width: 1.15em;
}

@media (min-width: 900px) {
  .cookie-wrapper{
    border-radius: 30px;
    left: 2em;
    bottom: 2em;
  }
  .cookie-wrapper.show {
  bottom: 2em;
 }
  .side-nav {
    width: 350px;
  }
  .calculator-categories-footer{
  display: grid; grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  
}
.calculator-categories-footer a{
  margin-right: 5em;
}
}