@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Young';
  src: url("/assets/fonts/young.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-SemiBold.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'lexend';
  src: url("/assets/fonts/Lexend-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
body{
font-family: young;
display: flex;
align-items: center;
flex-direction: column;
background: #464BFF08;
}

.no-scroll {
  overflow: hidden;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 2px 20px #464BFF14, 0 1px 15px #464BFF14;
  background: #fff;
  z-index: 10;
}
header img {
  width: 60px;
height: auto;
transition: .3s;
}
.home-link {
  cursor: help;
}
.header-btns-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3em;
  gap: .15em;
  border-radius: .5em;
  transition: .2s;
  outline: none;
}
.quick-header-btn-design-one {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  transition: .2s;
}
.quick-header-btn-design-one svg {
  fill: #4F5163;
  width: 45px;
  height: auto;
}
.search-input-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: .5em;
  height: 70px;
  transform: translateY(-100%);
  background: #fff;
  z-index: 72;
  transition: .25s;
}
.search-input-wrap.active {
  transform: translateY(0);
}
.close-search-wrap {
  width: 40px;
  height: 40px;
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  border: none;
  transition: .12s;
}
.close-search-wrap:hover {
  background: #9597AD1A;
}
.close-search-wrap svg {
  fill: #4F5163;
  width: 23px;
  height: 23px;
}
#search-global-input{
  background: #335FCB0D;
  border: 1.5px solid #4F516324;
  padding: .5em;
  height: 2em;
  width: 90%;
  border-radius: 6px;
  outline: none;
  transition: .3s;
}
#search-global-input:focus {
  border: 1.5px solid #464BFF;
}

.search-wrapper {
  position: relative;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchInputIcon {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #6C6D6F;
  border: none;
  outline: none;
  transition: .4s;
}
.searchBtn-2:active {
  transform: scale(.9);
}
/******************* search **********************/
.search-results-div .search-results-a {
  border-radius: .3em;
  margin: .4em;
  cursor: none;
  font-size: .85em;
  transition: .2s;
  position: relative;
  display: block;
padding: 10px;
text-decoration: none;
color: #333;
border: none;
}

.search-results-div .search-results-a:hover {
  background: #4F51630F;
}

.search-results-div p {
  font-size: .85em;
  text-align: center;
}
.search-results-div .search-results-a span{
  margin-left: .4em;
  text-transform: lowercase;
  color: #42445A94;
}
.search-results-a{
  display: flex;
}
/*******************************/
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1001;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
overflow-y: auto;
font-family: 'Young';
}
.side-nav.active {
  transform: translateX(0);
}
.close-nav-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  transition: .07s;
  background: transparent;
  margin-bottom: 1em;
}
.close-nav-btn:hover{
  background: #9597AD26;
}
.close-nav-btn svg {
  fill: #4F5163;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
#right-chev-svg{
  position: absolute;
  right: 0;
  fill: #4F516370;
}

.side-nav a {
  margin: .5rem 0;
  display: flex;
align-items: center;
gap: 1.1rem;
padding: .5em;
font-weight: 400;
font-size: .9em;
color: #4F5163;
text-decoration: none;
cursor: none;
transition: .3s;
border-bottom: 1px solid #4F516330;
width: 90%;
position: relative;
}
.side-nav a svg{
  width: 20px;
height: auto;
padding: .4em;
border-radius: 50%;
fill: #55606c;
display: block;
}
.favourites #favorites-svg{
  fill: #464BFF;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}
.overlay.visible {
  opacity: 1;
  pointer-events: all;
}
.container{
  
width: 90%;
max-width: 550px;
position: relative;
background: #fff;
border-radius: 20px;
border: 1px solid #42445A1C;
padding: 15px;
box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 14px;
}
.container h1{
  font-size: 2em;
}
.hero-sec{
  max-width: 550px;
  margin-top: 7em;
}
.hero-text-wrap{
  font-weight: 900;
  font-size: 2em;
}
.calculator-info-p{
  line-height: 1.5;
  font-size: .92em;
  color: #42445ACC;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: "Young";
}

.hero-sec-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em 1em;
}
#hero-h1 {
  isplay: flex;
align-items: baseline;
gap: 0.3em;
font-size: 1.5em;
font-weight: 800;
color: #1f1f1f;
margin: 0;
font-family: lexend;
}
#filter-btn{
  background: #42445A21;
  border: none;
  outline: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 10px;
  transition: .13s;
}
#filter-btn:active{
  transform: scale(.97);
}
#filter-btn svg{
  width: 20px;
}
ul#favs-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

#favs-list li {
  background: #fff;
  user-select: none;
  margin-bottom: 0.7em;
  padding: 1em;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  transition: .2s;
}
#favs-list li:active{
  transform: scale(.97);
}
#favs-list li a{
  text-decoration: none;
  font-size: 1em;
  cursor: help;
  color: #4D4D56;
}
.fav-details {
  flex: 1;
}

#nocalcfound{
 border-radius: 15px;
 font-family: "young";
 padding: 1em;
 height: 5em;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 90%;
 text-align: center;
}
.fav-btn-group{
  display: flex;
  gap: .5em;
}
.fav-btn-group button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: .17s;
}
.fav-btn-group button svg{
  fill: #4F5163;
}
.fav-btn-group button:active{
  transform: scale(.93);
}
.del-btn{
  
}
.del-btn:active{
  background: #D20A0A2E;
}
.del-btn svg:active {
  fill: #D20A0A;
}
footer{
  width: 100%;
  padding: .5em;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1em;
margin-top: 3em;
font-family: "Nunito";
background: #fff;
margin-bottom: -10px;
box-shadow: rgba(0, 0, 0, 0.06) 0 18px 10px;
}
footer .quick-links{
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.calculator-categories-footer{
  display: grid; grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: .5em;
  font-family: "young";
}
.calculator-categories-footer a{
transition: .14s;
display: flex;
align-items: center;
justify-content: flex-start;
font-size: .9em;
cursor: help;
gap: 18px; 
text-decoration: none;
color: #4A4B5D;
padding: 8px 12px;
letter-spacing: .4px;
}
.calculator-categories-footer a:hover{
  color: #3135CD;
}
.calculator-categories-footer a svg{
  flex-shrink: 0;
width: 17px;
height: 17px;
fill: #3135CD;
}
.quick-links-social{
  display: flex;
align-items: center;
justify-content: center;
  flex-direction: row;
  gap: 1.4em;
  border-bottom: 1px solid #ADB0C740;
  width: 100%;
  padding: 8px;
 padding-bottom: 25px;
}
.quick-links-social a{
cursor: help;
color: #4E5065FA;
transition: .2s;
font-weight: 600;
border-radius: 12px;
background: #4E5065FA;
display: flex;
align-items: center;
justify-content: center;
}
.quick-links-social a:active {
  transform: translateY(-4px);
}
.quick-links-social a svg{
  height: 14px;
  width: 14px;
  fill: #fff;
  padding: 7px;
}

footer .quick-links a{
  text-decoration: none;
  cursor: help;
  color: #6B6E8FDB;
  font-size: .9em;
  transition: .3s;
}
footer .quick-links a:hover{
  color: #434559;
}
footer h3{
  font-family: lexend;
  font-size: 1em;
  margin-bottom: -10px;
}
footer span{
  display: flex;
align-items: center;
justify-content: center;
font-size: .95em;
color: #6B6E8FDB;
gap: .3em;
padding: 10px;
margin-top: -10px;
}
footer span svg{
  fill: red;
  width: 1.15em;
}

@media (min-width: 1400px) {
  
}

@media (min-width: 1000px) {

}
@media (min-width: 1400px) {
  
}

@media (min-width: 1000px) {

}

@media (min-width: 900px) {
  .calculator-categories-footer{
  display: grid; grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  
}
.calculator-categories-footer a{
  margin-right: 5em;
}
}